*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}

img{
    height: 60px;
}

nav{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav .menu{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav .menu a{
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav .menu a:hover{
    color: #002fff;
}

body::before{
    content: "";
    display: block;
    height: 80px;
    padding: 1rem;
}

.banner{
    background: #f5f5f580;
    padding: 2rem 1rem;    
    align-items: center;
}

.banner .text{
    max-width: 800px;
    margin: 0 auto;
}

.banner h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.banner p{
    font-size: 1.2rem;
    margin-bottom: 1px;
}

.text{
text-align: center;
margin: 100px;
padding: 100px;
color: #000000;
}

.text p{
 color: #000000;    
}

.banner .btn{
    background-color: #43437f;
    border-radius: 40px;
    padding: 10px;
    margin: 50px;
    color: white;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.banner .btn:hover{
    background-color: #128C7E;
    animation: pulse 0.6s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

header{
    background-image: url(/img/thisisengineering-raeng-32PpagSzeGs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.wtts{
    height: 0px;
    top: 86%;
    left: 93%;
    display: flex;
    position:fixed;
}